body {
  margin: 0px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  touch-action: pan-x pan-y;
  -moz-appearance: none;
  -webkit-appearance: none;

}

#wrapper {
  position: relative;
 
}

#skyCanvas1,
#skyCanvas,
#weather,
#cityCanvas,
#cityCanvasBlack,
#cityCanvasMain,
#sunAndMoonCanvas,
#rainCanvas,
#iconCanvas {
  position: absolute;
  top: 0px;
  left: 0px;
  /* width: 100%;
  height: 100%; */
}


select{
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 10px 20px rgba(100,100,100,0.2);
  font-size: 13px;
  font-weight: bold;
  padding: 0.5em 1em 0.5em 1.5em;
  background: rgba(255,255,255,0.5);
  color: rgba(20,20,20,1);
  border: 2px solid rgba(20,20,20,1);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
} 

.custom-arrowLocation{
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: rgba(100,100,100,0);
  height: 100%;
  width: 1em;
  pointer-events: none;
}

.custom-arrowLocation::before,
.custom-arrowLocation::after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 10%;
  transform: translate(-10%, -40%);
}

.custom-arrowLocation::after{
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.4em solid black;
  top: 50%;
}

.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: rgba(100,100,100,0);
  height: 100%;
  width: 1em;
  pointer-events: none;
}

.custom-arrow::before,
.custom-arrow::after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 10%;
  transform: translate(-10%, -40%);
}

.custom-arrow::after{
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.4em solid black;
  top: 30%;
}


#textOverlayLocation {
  position: absolute;
  font-weight: bold;
  top: 5%;
  left: 5%;
  z-index: 1;
}


#locationSelector {
  padding: 0.5em 3em 0.5em 1.5em;
}

#textOverlayForcast {
position: absolute;
top: 12%;
left: 5%;
z-index: 1;
} 


#textOverlayWeather {
  font-size: medium;
  position: absolute;
  z-index: 1;
  left: 5%;
  top: 55%;
  font-size: 0.9em;
  font-weight: 500;
  width: 300px;
  height: 10px;
  color: black;
  opacity: 80%;
  text-shadow: white 1px 0 5px;
  font-weight: bold;

}


#weatherLocation{
  font-weight: bold;
}

#currentForcastOverlay{
  font-size: medium;
  position: absolute;
  z-index: 1;
  top: 990%;
  font-size: 0.9em;
  font-weight: 500;
  width: 300px;
  height: 10px;
  color: black;
  opacity: 80%;
  text-shadow: white 1px 0 5px;
}

.iconText{
  font-size: x-small;
  /* margin-left: 15px; */
  padding-right: 15px;
}

#soundButtonOverlay{
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 1;
}



#soundbutton {
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 10px 20px rgba(100,100,100,0.2);
  font-size: 10px;
  font-weight: bold;
  padding: 0.5em 1.5em 0.5em 1.5em;
  background: rgba(255,255,255,0.5);
  color: rgba(20,20,20,1);
  border: 2px solid rgba(20,20,20,1);
}


#songInfo{
  /* position: absolute; */
  font-size: xx-small;
  font-style: italic;
  text-align: left;
  color: goldenrod;
}

#creditsButtonOverlay{
  position: absolute;
  top: 95%;
  right: 5%;
  z-index: 1;
}

#creditButton{
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 10px 20px rgba(100,100,100,0.2);
  font-size: 8px;
  font-weight: bold;
  padding: 0.5em 1.5em 0.5em 1.5em;
  background: rgba(255,255,255,0.5);
  color: rgba(20,20,20,1);
  border: 2px solid rgba(20,20,20,1);
} 

#creditsBoxOverlay{
  position: absolute;
  top: 40%;
  right: 35%;
  z-index: 1;
}

#creditsBox{
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 10px 20px rgba(100,100,100,0.2);
  font-size: 9px;
  font-weight: bold;
  padding: 0.5em 1.5em 0.5em 1.5em;
  background: rgba(255,255,255,0.5);
  color: rgba(20,20,20,1);
  border: 2px solid rgba(20,20,20,1);
  display: none;
} 

#closeCredits{
  position: absolute;
  right: 5%;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 10px 20px rgba(100,100,100,0.2);
  font-size: 6px;
  font-weight: bold;
  padding: 0.4em 0.4em 0.4em 0.4em;
  background: rgba(255,255,255,0.1);
  color: rgba(20,20,20,1);
  border: 1px solid rgba(20,20,20,1);
}

.marquee {
  position: absolute;
  z-index: 1;
overflow: hidden;
  /* width: 100%; */
  white-space: nowrap;

  -moz-transform:translateX(-100%);
  -webkit-transform:translateX(-100%);	
  transform:translateX(-100%);
  /* Apply animation to this element */	
  -moz-animation: example2 15s linear infinite;
  -webkit-animation: example2 15s linear infinite;
  animation: example2 15s linear infinite;
 }
 /* Move it (define the animation) */
 @-moz-keyframes example2 {
  0%   { -moz-transform: translateX(-100%); }
  100% { -moz-transform: translateX(100%); }
 }
 @-webkit-keyframes example2 {
  0%   { -webkit-transform: translateX(-100%); }
  100% { -webkit-transform: translateX(100%); }
 }
 @keyframes example2 {
  0%   { 
  -moz-transform: translateX(-100%); /* Firefox bug fix */
  -webkit-transform: translateX(-100%); /* Firefox bug fix */
  transform: translateX(-100%); 		
  }
  100% { 
  -moz-transform: translateX(100%); /* Firefox bug fix */
  -webkit-transform: translateX(100%); /* Firefox bug fix */
  transform: translateX(100%); 
  }
}
